.layout > .content-container > .navigation {
    display: flex;
    flex-direction: column;

    width: fit-content;

    padding: 1rem;
    gap: 1rem;
}
.layout > .content-container > .navigation > .entry{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 0.5rem;
    padding: 0.75rem;

    border-radius: 6px;
    cursor: pointer;
}
.layout > .content-container > .navigation > .entry svg{
    width: 20px;
    height: 20px;
}