/logs
/node_modules
/config_backups
/chats
/configs
/public/graphs/
/public/uploads/
/public/emojis/
/public/.idea/
/plugins
/discover/node_modules/
/discover/config.json
/cache
/backups
privatekey.json

.idea
.package-lock.json
/dcts/
/Private_Certs/

Docker/config.env
Docker/livekit.yaml
/public/plugins
public/css/themes/your-name/background.gif
public/css/themes/your-name/config.json
public/css/themes/your-name/thumbnail.png
public/css/themes/your-name/your-name.css
