.profile_headline{
    text-transform: uppercase;
    margin: 0 0 8px 0;
    font-size: 14px;
    font-weight: bold;
}

.date {
    text-decoration: underline;
}

.feature{
    font-weight: bold;
    text-decoration: none;

    margin-top: 24px;
}

.detail {
    
}

.desc {
    font-style: italic;
}

* {
    line-height: 150%;
}

code {
    padding: 0px 4px 2px 4px;
    border: 1.5px solid #5d7fe3;
    color: #5d7fe3;
    border-radius: 4px;

    margin: -2px 4px 2px 4px;
}

.update{
    padding: 12px 32px 12px 12px;
    background-color: #333539;

    border-radius: 6px;
}

.update h2 {
    margin: 0;
    float: left;
}

label.update {
    float: right;
}

.update .head {
    float: left;
    width: calc(100%);

    color: #5d7fe3;
    margin-bottom: 0px;
}

.update .head label{
    background-color: #5d7fe3;
    padding: 6px 12px 6px 12px;

    border-radius: 6px;
    color: white;
}

.update .content {
}

ul.content ul {
    margin-bottom: 32px;
}

ul.update.current {
    --angle: 0deg;
    border: 2px solid;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 10s rotate linear infinite;
}