#serverbanner-container {
    height: calc(200px - 40px);
    width: calc(100%);
    margin: 0 0 20px 0;

    display: block;
    float: left;


    overflow: hidden;
    box-shadow: 0 8px 8px -2px black;
}

#serverbanner-image {
    height: calc(100%);
    width: calc(100%);
    -webkit-transition: transform .5s ease;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#serverbanner-image:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);


}

#serverbanner-image:not(:hover) {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

#channellist {
    height: calc(100% - 40px - 50px);
    width: calc(300px);
    color: white;

    display: block;
    float: left;
}

#channeltree {
    display: block;
    float: left;

    height: calc(100% - 32px - 175px - 32px);
    width: calc(100% - 32px);

    padding: 16px;
    overflow-y: auto;
}

#channeltree details ul li {
    margin-left: 15px;
    /*  list-style-image: url("img/hashtag.png"); */
}

#channeltree details ul {
    list-style-type: none;
}

a.channelTrigger.markChannelMessage{
    color: white;
    font-style: italic;
}

#channeltree li.selected{
    background-color: rgba(122, 122, 122, 0.2);
    border-radius: 4px;
}

#channeltree ul {
    margin: 0 0 16px 0;
    padding: 0 0 16px 16px;

    /*list-style-image: url("https://cdn-icons-png.flaticon.com/512/32/32213.png"); */
    list-style-type: disc;
    cursor: pointer;
}

#channeltree li {
    padding: 4px;
}

#channeltree li:hover {
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 4px;
}