
#context-menu {
    position: fixed;
    z-index: 200;
    width: fit-content;
    border-radius: 6px;
    display: none;

    backdrop-filter: blur(6px);
    overflow: hidden;
}

#context-menu .item {
    font-size: 12px !important;
    color: #eee;
    cursor: pointer;
    padding: 8px;
    opacity: 1;
    filter: none;
}

#context-menu .item:hover {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 2px;
}

#context-menu.visible {
    display: block;
}

#context-menu label.icon {
    display: inline-block;
    height: 100%;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
#context-menu .item.context-item-success {
    color: rgba(135, 222, 84, 1);
}

#context-menu .item.context-item-success:hover {
    background-color: rgba(75, 161, 53, 0.5);
    color: white;
}

#context-menu .item.context-item-error {
    color: #eb5055;
}

#context-menu .item.context-item-error:hover {
    background-color: rgba(235, 80, 85, 0.5);
    color: white;
}

#context-menu .item.context-item-ok {
    color: #5d7fe3;
}

#context-menu .item.context-item-ok:hover {
    background-color: rgba(93, 127, 227, 0.5);
    color: white;
}

#context-menu .item.context-item-warning {
    color: orange;
}

#context-menu .item.context-item-warning:hover {
    background-color: rgba(255, 165, 0, 0.5);
    color: white;
}
