.inline-text-emoji {
    border-radius: 0 !important;
    width: 25px;
    height: 25px;

    margin: 0 !important;
    margin-bottom: -6px !important;
}

.inline-text-emoji.big {
    width: 50px;
    height: 50px;
    display: inline-block;
}

#emoji-box-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40%;
    position: fixed;
    z-index: 15;
    padding: 8px;
    border-radius: 8px;
    overflow: hidden;
    user-select: none;
}

#emoji-box-container h2 {
    margin-top: 0;
    font-size: 18px;
}

#emoji-box-header-container {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% + 16px);
    margin: -8px;
    margin-bottom: 8px;
    padding: 10px;
    overflow: hidden;
}

.emoji-box-header {
    display: flex;
    flex-shrink: 0;
    height: fit-content;
    padding: 6px 12px;
    margin-right: 8px;
    user-select: none;
    border-radius: 6px;
    transition: background 0.2s ease;
}

.emoji-box-header h2 {
    margin: 0;
}

.emoji-box-header:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
}

.SelectedTab {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}

#gif-searchbar {
    display: flex;
    justify-content: start;
    width: 100%;
    height: fit-content;
    margin-bottom: 6px;
}

#gif-searchbar-input {
    width: 100%;
    outline: none;
    background-color: #40444B;
    border: 1px solid #40444B;
    padding: 4px;
    color: white;
    border-radius: 4px;
}

#gif-entry-container,
#emoji-entry-container {
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
}

#gif-entry-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    gap: 6px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: transparent;
    box-sizing: border-box;
}

#gif-entry-container img {
    width: calc(50% - 3px);
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: block;
}
#gif-entry-container img:hover {
    transform: scale(1.03);
}

#emoji-box-container .emoji-entry {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    user-select: none;
}

#emoji-box-container .emoji-entry .emoji-img img {
    width: 35px;
    height: 35px;
    margin: 4px;
    transition: border-radius 0.2s;
}

#emoji-box-container .emoji-entry .emoji-img img:hover {
    border-radius: 10%;
    cursor: pointer;
}
