.mobilePanel{
    display: none;
    width: 100%;
    height: 100%;
    transition: all 1000ms ease-in-out;
    overflow: hidden;
    position: absolute;
    z-index: 20;
}

#rightSideMenu {
    right: 0 !important;
    left: auto;
}

#rightSideMenu.open {
    width: 100%;
}

#mobile_GroupListContainer {
    display: flex;
    flex-grow: 0;
    width: fit-content;
}

#mobile_ChannellistContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#mobile_GroupAndChannelContainer {
    display: flex;

    z-index: 10;
    width: calc(100%) !important;
    height: calc(100% - 40px);

    background-color: hsl(from var(--main) h s calc(l * 2.3) / 100%);
    position: absolute;
    flex-direction: row;
}

#mobile_memberlist {
    display: flex;
    width: calc(100%) !important;
    /*margin-left: calc(-100% + 35px + 420p);*/
    height: calc(100% - 40px);


    background-color: hsl(from var(--main) h s calc(l * 2.3) / 100%);
    flex-direction: column;
    padding: 10px;
    overflow-x: auto;
    position: absolute;
    z-index: 10;

}

#mobile_GroupList {
    width: auto;
    height: calc(100%);
    background-color: hsl(from var(--main) h s calc(l * 2.1));
}

#mobile_GroupList .server-entry {
    margin: 10px;
}

#mobile_groupBanner {
    margin-bottom: 20px;
}

#mobile_groupBanner img {
    width: calc(100%);
    height: 160px;
    float: left;
    margin-bottom: -20px !important;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#mobile_channelList .sortable-channels{
    margin-top: 2px;
    margin-bottom: 24px;
}

#mobile_channelList hr{
    margin-bottom: 20px;
}


#mobile_channelList {
    padding: 8px;

    width: calc(100% );
    height: calc(100% - 160px - 16px);
    overflow-y: auto;
}

#mobile_channelList h2 {
    font-size: 18px;
    color: #ABB8BB;
    margin-bottom: 2px;
}

#mobile_channelList details {
    margin-top: 10px !important;
}

#mobile_channelList details ul {
    margin-left: 14px;
}

#mobile-channellist-trigger {
    width: 35px;
    height: 35px;

    background-color: transparent;
    background-image: url("/img/sandwich.png");
    background-size: contain;

    float: left;
    display: block;
}

#mobile-memberlist-trigger {
    width: 35px;
    height: 35px;

    background-color: transparent;
    background-image: url("/img/sandwich.png");
    background-size: contain;
}

@media (max-width: 1050px) {

    body {
        overflow-x: hidden;
    }

    #networkServers {
        display: none !important;
    }

    #serverbanner-container,
    #profile-qa,
    #channeltree,
    #channellist,
    #infolist,
    #serverlist {
        display: none !important;
    }

    img {
        width: 100%;
        /* Forces it to scale */
        height: auto;
        /* Maintains aspect ratio */
        max-width: none;
        /* Allows resizing beyond parent limits */
    }

    #channelname {
        font-size: 14px;

        width: 100% !important;
    }

    #header {
        width: calc(100% - 16px);
    }

    #message-actions-image{
        position: absolute;
        bottom: 36px;
        right: 10px;
        z-index: 2;
    }

    #content-container #content{
        margin-bottom: 10%;
    }

    .editor-container {
        margin-top: -40px;
    }

    .message-container {
        margin: 0 0 30px 0;
        padding: 0;
        width: 100%;
    }

    .message-container .editedMsg {
        margin-top: 0;
        padding-top: 0;
    }

    .message-container .icon-container .icon{
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
    }

    .message-container .meta {
        font-size: 14px;
    }

    .message-container .content {
        margin: 0;
    }

    pre.ql-syntax {
        width: calc(100%) !important;
    }

    .ql-formats {
        display: none !important;
        width: 0;
        height: 0;
    }

    #emoji-box-container {
        width: 70%;
    }
}
