

#leftSideMenu {
    float: left;
    height: calc(100% - 40px);
    width: auto;
    background-color: #1E2124;

    display: none;
}

#rightSideMenu {
    float: left;
    height: calc(100% - 40px);
    width: auto;
    background-color: #1E2124;

    display: none;
}

#mobile_GroupAndChannelContainer {
    z-index: 9999999;
    width: calc(100% - 40px) !important;
    margin-left: 35px;
    height: calc(100% - 40px);
    max-width: 420px;

    background-color: rgb(49, 53, 60);
    position: absolute;
    display: none;
    float: left;
}

#mobile_memberlist {
    width: calc(100% - 60px) !important;
    /*margin-left: calc(-100% + 35px + 420p);*/

    height: calc(100% - 40px - 20px);
    max-width: 420px;

    background-color: rgb(37, 41, 47);
    position: absolute;
    display: none;
    float: left;
    padding: 10px;
    overflow-x: auto;

}

#mobile_GroupList {
    width: calc(45px + 20px);
    height: calc(100%);

    float: left;
    background-color: rgb(37, 41, 47);
}

#mobile_GroupList .server-entry {
    margin: 10px;
}

#mobile_groupBanner {
    margin-bottom: 20px;
}

#mobile_groupBanner img {
    width: calc(100% - 65px);
    height: 160px;
    float: left;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


#mobile_channelList {
    display: block;
    float: left;
    padding: 8px;

    width: calc(100% - 16px - 65px);
    height: calc(100% - 160px - 16px);
    overflow-y: auto;
}

#mobile_channelList h2 {
    font-size: 18px;
    color: #ABB8BB;
    margin-bottom: 2px;
}

#mobile_channelList details {
    margin-top: 10px !important;
}

#mobile_channelList details ul {
    margin-left: 14px;
}

#mobile-channellist-trigger {
    width: 35px;
    height: 35px;

    background-color: transparent;
    background-image: url("/img/sandwich.png");
    background-size: contain;

    float: left;
    display: block;
}

#mobile-memberlist-trigger {
    width: 35px;
    height: 35px;

    background-color: transparent;
    background-image: url("/img/sandwich.png");
    background-size: contain;

    float: left;
    display: block;
}

@media (max-width: 1050px) {

    body {
        overflow-x: hidden;
    }

    #serverbanner-container,
    #profile-qa,
    #channeltree,
    #channellist,
    #infolist,
    #serverlist {
        display: none !important;
    }

    img {
        width: 100%;
        /* Forces it to scale */
        height: auto;
        /* Maintains aspect ratio */
        max-width: none;
        /* Allows resizing beyond parent limits */
    }

    #channelname {
        font-size: 14px;

        width: 100% !important;
    }

    #content-container {
        width: calc(100% - 35px - 35px) !important;
        border-radius: 0;
    }

    #header {
        width: calc(100% - 16px);
    }

    #leftSideMenu,
    #rightSideMenu {
        display: block;
    }

    .editor-container {
        margin-top: -40px;
    }

    .message-container {
        margin: 0 0 30px 0;
        padding: 0;
        width: 100%;
    }

    .message-container .editedMsg {
        margin-top: 0;
        padding-top: 0;
    }

    .message-container .icon-container .icon{
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
    }

    .message-container .meta {
        font-size: 14px;
    }

    .message-container .content {
        margin: 0;
    }

    pre.ql-syntax {
        width: calc(100%) !important;
    }

    .ql-formats {
        display: none !important;
        width: 0;
        height: 0;
    }

    #emoji-box-container {
        width: 70%;
    }
}
