:root {
    --card-radius: 10px;
    --accent: var(--main);
}


* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;

    scrollbar-color: hsl(from var(--main) h s calc(l * 6)) var(--main);
    scrollbar-width: thin;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    color: hsl(from var(--main) h s calc(l * 12));
    background: linear-gradient(180deg, hsl(from var(--main) h s calc(l * 1.5)), hsl(from var(--main) h s calc(l * 2)), hsl(from var(--main) h s calc(l * 2)));
    overflow: auto;
}

#navigation{
    margin-top: 10px;
}

#navigation a{
    color: hsl(from var(--main) h s calc(l * 10)) ;
    border-right: 2px solid hsl(from var(--main) h s calc(l * 10));
    font-style: italic;
    padding: 0 12px;
}

#navigation a.last{
    border-right: none;
}

#savedServers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80vw;
    flex: 1;
    margin: 0 auto 0 auto;
}

h1 {
    text-shadow: 0 0 10px color-mix(in srgb, var(--main) 70%, white);
}

.serverlistingContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-content: center;
    text-align: center;

    width: 80vw;
    flex: 1;
    gap: 40px;
    margin-top: 40px;
}

.savedServersHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.savedServersHeader h1 {
    font-size: 50px;
    margin-bottom: 0;
}


table {
    color: hsl(from var(--accent) h s calc(l * 10));
}

table td, table th {
    padding: 12px 24px;
    background-color: hsl(from var(--accent) h s calc(l * 1.5));
}

.server-card {
    background: linear-gradient(130deg, hsl(from var(--accent) h s calc(l * 3)), hsl(from var(--accent) h s calc(l * 3.5)));
    color: hsl(from var(--accent) h s calc(l * 10));
    width: 300px;
    height: fit-content;
    float: left;

    display: inline-flex;
    flex-direction: column;

    border-radius: var(--card-radius);
    box-shadow: hsl(from var(--accent) h s calc(l * 8)) 0 0 10px;
}

.server-card {
    opacity: 0;
    transform: translateY(14px) scale(.98);
    transition: opacity .4s ease, transform .4s ease;
}

.server-card.reveal {
    opacity: 1;
    transform: translateY(0) scale(1);
}


.banner {
    width: 100%;
    min-height: 100px;

    background-position: center center;
    background-size: cover !important;
    object-fit: cover;
    position: relative;

    border-top-left-radius: var(--card-radius);
    border-top-right-radius: var(--card-radius);
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-self: end;

    margin: 0 0 4px 8px;
    font-size: 20px;

    font-weight: bold;
    text-shadow: -1px 0 0 var(--main), 1px 0 0 var(--main),
    0 -1px 0 var(--main), 0 1px 0 var(--main),
    0 0 8px var(--main);
    color: hsl(from var(--accent) h s calc(l * 12));
}

.server-card .about {
    padding: 10px;
    width: calc(100%);
    background: none;
    font-size: 14px;
    text-align: left;

    overflow: auto;
    max-height: 150px;
    transition: all 500ms;
    user-select: none;
    margin-bottom: 10px;
}

.server-card .about p{
    margin-top: 0;
}

.server-card .about a, table a {
    color: hsl(from var(--accent) calc(h * 1.5) calc(s * 1.5) calc(l * 8));
    font-style: italic;
}

.features {
    padding: 10px;
    width: calc(100% - 20px);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;

    border-top: 1px solid hsl(from var(--accent) h s calc(l * 1));
    border-bottom: 1px solid hsl(from var(--accent) h s calc(l * 1));
}

.features label {
    font-size: 10px;
    width: 100%;
}

.feature {
    background: hsl(from var(--accent) h s calc(l * 2));
    color: hsl(from var(--accent) h s calc(l * 10));

    width: fit-content;
    white-space: nowrap;

    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;

    cursor: pointer;
    user-select: none;
}

.footer {
    padding: 10px;
    width: calc(100% - 20px);

    font-size: 12px;
    font-weight: bold;

    display: flex;
    align-items: center;
}

.joinButton {
    padding: 6px 20px;
    background: linear-gradient(110deg, hsl(from var(--accent) h s calc(l * 2)), hsl(from var(--accent) h s calc(l * 2)));
    border-radius: var(--card-radius);
    font-weight: bold;
    color: white;
    text-decoration: none;

    display: flex;
    margin-left: auto;
    user-select: none;
}


#connectContainer {
    padding: 6px;
    border-radius: 20px;
    border: 2px solid hsl(from var(--accent) h s calc(l * 8) / 50%);
    background: linear-gradient(
            120deg,
            hsl(from var(--accent) calc(h * 3) calc(s * 20) calc(l * 3)),
            hsl(from var(--accent) calc(h * 3.15) calc(s * 20) calc(l * 3))
    );

    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

#connectContainer h2 {
    font-size: 16px;
    margin: 0;
    font-weight: normal;
    font-style: italic;
}

#connectInputs {
    margin-top: 0;
    max-height: 0;
    overflow: hidden;
    transition:
            max-height 0.5s ease-in-out,
            margin 0.5s ease-in-out;
}

#connectContainer:hover #connectInputs{
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 100px;
}

#connectContainer:hover #connectionStatus{
    max-height: 100px;
    font-size: 14px;
}

#connectInputs input, button{
    padding: 4px 8px;
    background: linear-gradient(
            120deg,
            hsl(from var(--accent) calc(h * 3) calc(s * 20) calc(l * 3)),
            hsl(from var(--accent) calc(h * 3.15) calc(s * 20) calc(l * 3))
    );

    border: 2px solid hsl(from var(--accent) h s calc(l * 8) / 75%);
    border-radius: 4px;
    outline: none;

    color: hsl(from var(--accent) h s calc(l * 12));
}

#connectInputs input::placeholder {
    color: hsl(from var(--accent) h s calc(l * 12) / 80%);
}

#connectInputs button {
    cursor: pointer;
}

#connectionStatus {
    max-height: 0;
    overflow: hidden;
    margin: 0;
    font-size: 0;
    transition: all 0.5s ease-in-out;
}