:root {
    --main-rgb: 19 20 21 !important;
    --main: rgba(var(--main-rgb) / 0.8) !important;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: hsl(from var(--main) h s calc(l * 12));
    overflow: hidden;

    background-image: url('background.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
#channelname-bar {
    background-color: hsl(from var(--main) h s calc(l * 1.9) / 10%);
    border-radius: 0 !important;
}

#profile_container, #emoji-box-container{
    background-color: hsl(from rgb(var(--main-rgb)) h s calc(l * 1.9));
}
#profile-qa {
    background-color: hsl(from rgb(var(--main-rgb)) h s calc(l * 1.2) / 80%);
}

.ql-editor{
    border: 1px solid rgba(128, 128, 128, 0.2);
}

.activeUserEntry {
    border: 1px solid rgba(128, 128, 128, 0.2);
}

