
:root {
    --primary: hsl(from var(--main) h s calc(l * 1));
    --primary-bright: hsl(from var(--main) h s calc(l * 2.5));
    --primary-hover: hsl(from var(--main) h s calc(l * 10));
    --primary-selected: hsl(from var(--main) h s calc(l * 12));

    --secondary: #2492c9;
    --secondary-hover: color-mix(in srgb, var(--secondary) 80%, white 20%);

    --success: #5CCD5C;
    --success-hover: color-mix(in srgb, var(--success) 80%, white 20%);

    --error: indianred;
    --error-hover: color-mix(in srgb, var(--error) 80%, white 20%);

    --primary-text: #F0F0F0;

    --transition-all: all 200ms;
    --input-border: 1px solid rgb(98, 98, 98);
}

*{
    box-sizing: border-box;

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: hsl(from var(--main) h s calc(l * 3)) transparent;
}

#homeScreen {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 80px;

    background: #24292E;
    z-index: 99990;
    display: none;
    transition: left 180ms ease, right 180ms ease;
}

#homeScreen.visible {
    display: block;
    transition: left 180ms ease, right 180ms ease;
}

.homeDivider{
    width: 80%;
    margin: 10px !important;
    display: block;
}

.sortable-chosen,
sortable-chosen.sortable-ghost {
    opacity: 0;
}

.sortable-ghost {
    background-color: var(--primary);
    opacity: 1;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #33373b;
    overflow: hidden;
}

* {
    font-family: 'Roboto', sans-serif;
}

#header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 8px;
    color: white;
}

#header #badges {
    justify-self: center;
    display: flex;
    gap: 6px;
}

#header #badges .profile_badge {
    width: 20px;
    height: 20px;
    margin: 0;
}

#header #headerRight {
    justify-self: end;
}


#mainLayout{
    display: flex;
    flex-direction: column;
    flex: 1;

    height: 100%;
    width: 100%;

    position: relative;
}

#contentLayout{
    display: flex;
    flex-direction: row;

    flex: 1;
    min-height: 0;
}

#serverlist {
    display: flex;
    height: 100%;
    width: 80px;
    flex-shrink: 0;

    padding: 8px;

    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;

    color: white;
    overflow-x: hidden;
    overflow-y: auto;

    position: relative;
}

#content-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    color: white;
    max-width: 100%;

    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

#content {
    height: auto;
    width: 100%;
    flex-grow: 1;
    padding: 16px;
    margin-bottom: 4px;

    color: white;
    overflow-y: auto;
}

#channelname-bar {
    height: fit-content;
    width: 100%;
    flex-direction: row;

    padding: 16px;

    font-weight: bold;
    font-size: 20px;

    box-shadow: 0 4px 8px -2px black !important;
    position: relative;
    /* should fix overlapping issue */
}

#channelname {
    float: left;
}

#channelname-icons .icon {
    float: right;

    background-color: red;
    border-radius: 50%;

    width: 25px !important;
    height: 25px !important;
    margin-left: 10px;

    position: relative;

    background-size: cover;

    object-fit: cover;
    background-color: transparent;
    background-position: center center;
}

.screenshare-view-current {
    width: 400px !important;
    height: auto;
    float: left;
}

#messagebox-content {
    background-color: transparent;
    color: white;

    border: none;
    padding: 8px;

    height: calc(100% - 3px);
    width: calc(100% - 32px - 40px - 25px - 5px);

    outline: none;
    resize: none !important;
    margin: -20px 8px 0 8px;
    overflow-y: hidden;
}

.message-container p {
    line-height: 150% !important;
}

#messagebox-media {
    width: 25px;
    height: 25px;
    text-align: center;

    float: left;
    display: block;
    background-color: transparent;
}

#message-actions-image {
    width: 30px;
    height: 30px;
    display: block;
    float: right;
    border-radius: 50%;
    cursor: pointer;
}

#message-actions {
    display: block;
    float: right;
    width: 30px;
    margin: -2px 2.5px 0px 0px;
    overflow: hidden;
}

#infolist {
    display: flex;
    flex-direction: column;
    flex-shrink: 0 !important;

    height: 100%;
    width: 200px;
    padding: 16px;
    color: white;
    overflow-y: auto;
}

.server-icon {
    width: 45px;
    height: 45px;

    background-size: cover !important;
    object-fit: cover;
     background-position: center center;
     
    filter: grayscale(100%);
    background-color: transparent;
}

.server-entry {
    margin-bottom: 8px;
    cursor: pointer;
}


.server-icon:hover {
    border-radius: 10%;
    transition: all 400ms;

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    filter: grayscale(0%);
}

.server-icon:not(:hover) {
    border-radius: 50%;
    transition: all 400ms;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    filter: grayscale(100%);
}

#profile-qa {
    height: fit-content;
    width: 100%;

    padding: 10px;

    display: flex;
    bottom: 0;
}

#profile-qa-img-container {
    width: 50px;
    height: 50px;

    border-radius: 50%;
    overflow: hidden;

    -webkit-transition: transform .5s ease;
}

#profile-qa-img {
    background-size: cover;
    object-fit: cover;
    background-position: center center;

    width: 50px;
    height: 50px;

    box-sizing: border-box;
    border: 4px solid transparent;

    border-radius: 50%;
    cursor: pointer;
}

#profile-qa-img:hover {
    transform: scale(1.1);
    transition: all 400ms;
}

#profile-qa-img.talking {
    border-color: #aa1515;
    outline-offset: 6px;
}

#profile-qa-img:not(:hover) {
    transform: scale(1);
    transition: all 400ms;
}

#profile-qa-info {
    padding: 10px;

    overflow: hidden;
    background-color: transparent;

    width: 60%;
    height: fit-content;
    cursor: pointer;
}

#profile-qa-info label {
    width: 150px;
    height: 20px;

    overflow: hidden;
    background-color: transparent;
}

#profile-qa #webrtc-controls {
    background-color: transparent;

    padding: 12px 12px 0 32px;

    height: 45px;
    width: auto;
    cursor: pointer;
}

.memberlist-container {
    display: flex;
    flex-direction: row;
    gap: 4px;

    width: 100%;
    background-color: transparent;
    margin-bottom: 12px;
    cursor: pointer;
}

.memberlist-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;

    background-size: cover;
    object-fit: cover;
    background-position: center center;
}

.memberlist-member-info {
    height: 20px;
    overflow: hidden;
    margin-left: 8px;
    background-color: transparent;
    width: 100px;
}

.memberlist-member-info.status {
    font-size: 12px;
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.infolist-role {
    margin-bottom: 0;
    margin-top: 8px;
}

.message-container {
    display: block;
    float: left;
    background-color: transparent;

    width: calc(100% - 40px);
    padding: 8px 20px;

    margin-bottom: 0px;
    margin-top: 0px;
}

.message-container:hover {
    background-color: rgb(47, 49, 54, 0.5);
    border-radius: 5px;

    transition: all 800ms;
    background-color: rgba(41, 43, 47, 0.5);
}

.message-container:not(:hover) {
    transition: all 800ms;
    background-color: transparent;
}

.message-profile-content-message-appended p,
.message-profile-content-message p {
    padding: 0 8px 4px 8px !important;
    text-align: left !important;
}

.message-profile-content-message-appended:hover {
    background-color: rgba(41, 43, 47, 0.5);
}

.message-profile-info-name {
    font-weight: normal;
    cursor: pointer;
    margin-left: 8px;
}

.sanitized-content p{
    margin: 0 !important;
    padding: 0 !important;
}

.message-profile-img-container,
.message-profile-img {
    width: 40px;
    height: 40px;

    display: block;
    float: left;

    background-color: transparent;

    border-radius: 50%;
    cursor: pointer;

    background-size: cover;
    object-fit: cover;
    background-position: center center;
}

.message-profile-info {
    height: auto;
    overflow: hidden;

    display: block;
    float: left;

    background-color: transparent;
    width: calc(100% - 50px - 12px);

    margin: 4px 0 8px 8px;
    font-size: 16px;
    font-weight: bold;

    word-break: break-all;

    cursor: pointer;
}

.message-profile-content {
    display: block;
    float: left;
    background-color: transparent;

    padding: 0 8px 0 8px;
    font-size: 14px;
    width: calc(100% - 50px - 16px);


    overflow: hidden;
}

.message-profile-content a {
    color: white;
}

.message-profile-content p {
    float: left;
    display: inline-block;
    word-wrap: break-word;
    width: 100%;

    margin: 0;
    font-size: 14px;
}

.message-profile-content iframe {
    float: left;
    display: block;

    border-radius: 6px;
}

.systemAnnouncementChat p {
    margin: 0;
}

.systemAnnouncementChat {
    width: calc(100% - 10px - 60px);
    padding: 8px 8px 8px 8px;
    font-style: italic;

    margin: 4px 20px 4px 20px;

    border-left: 4px solid #ABB8BE;
    border-radius: 4px;
    margin-bottom: 40px;

    color: lightgray;

    float: left;
    display: block;
}

.systemAnnouncementChatUsername {
    color: #ABB8BE;
}

code.markdown {
    font-size: 12px;
    background-color: #292a2d !important;
    font-weight: bold;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;

    margin: 0 4px 0 4px !important;
    font-family: "Lucida Console", "Courier New", monospace;
}

pre.markdown {
    font-size: 12px;
    background-color: #292a2d !important;

    padding: 8px;
    margin-left: 4px;
    margin-top: 4px;

    border-radius: 8px;
    float: left;
    display: block;

    overflow-x: scroll;
    line-height: 150%;

    width: calc(100% - 8px);
}

.iframe-container {
    display: inline-block;
    float: left;
    width: 100%;
    border: none;

    /* margin: 8px 0 8px 0; */
}

.image-embed,
.message-profile-content .message-profile-content-message img {
    max-width: 300px;
    height: auto;
    text-align: left;
    margin: 8px 0 8px 0;
    border-radius: 6px;
}

.message-profile-content-message {
    width: 100% !important;
}

.video-embed {
    display: block;
    float: left !important;
    margin: 8px 0 8px 0;
    border-radius: 6px;
    border: none;
}

#context-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    border-radius: 6px;
    display: none;
}

#context-menu .item {
    margin: 8px 4px;
    padding: 6px !important;
    font-size: 14px !important;
    color: #eee;
    cursor: pointer;
}

#context-menu .item:hover {
    background: #343434;
    border-radius: 4px;
}

#context-menu.visible {
    display: block;
}

.message-profile-info .timestamp,
.systemAnnouncementChat .timestamp {
    margin-left: 20px;
    font-size: 10px;
    color: #989898;
}

#modalBox {
    background-color: #1D2125;
    border: 1px solid #ABB8BE;
    border-radius: 6px;

    color: #ABB8BE;

    padding: 16px;

    filter: blur(0) !important;
    z-index: 1;

    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    display: none;
}

#modalBoxTitle {
    font-size: 20px;
    margin-top: 0;
}

#channeltree h2 {
    margin-top: -10px;
    margin-bottom: -0px;
    font-size: 16px;
}

#channeltree hr {
    margin-bottom: 40px;
}

#serverlist .selectedGroup,
#mobile_GroupList .selectedGroup {
    border-radius: 6px !important;
    filter: grayscale(0%) !important;
}

.home-indicator {
    position: absolute;
    display: none;

    font-size: 14px;
    color: white;
    font-weight: bold;

    background-color: indianred;
    border-radius: 50%;
    border: 2px solid black;

    z-index: 2;
    text-align: center;

    top: 0px;
    left: 50px;

    margin: 0;
    padding: 2px 6px;
}

#mobile_GroupList .home-indicator{
    top: 2px !important;
    left: 38px !important;
}

.home-indicator.visible {
    display: inline-block !important;
}

#profile-qa-settings {
    width: 20px;
    height: 20px;

    margin: 15px 15px 0 0;

    background-color: transparent;
    float: right;

    background-image: url("/img/settings.png");
    background-size: cover;

    object-fit: cover;
    background-color: transparent;
    background-position: center center;
}

#profile-qa-info-status {
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Details Markers */
/*
summary {list-style: none}
summary::-webkit-details-marker {display: none; }

details summary::before {
    margin-right: 4px;
      🡒🡑↓
    content:"🡒";
    color: #ABB8BE;
}

details[open] summary::before {
    margin-right: 4px;
    content:"↓  " ;
    color: #ABB8BE;
}
*/

pre.editedMsg {
    margin-top: 0;
    margin-left: 6px;
    font-size: 8px;
    color: #8e8e8e;
    display: block;
    float: left;
    font-style: italic;
}

.inline-text-emoji {
    width: 25px;
    height: 25px;

    margin-bottom: -6px !important;
}

.inline-text-emoji.big {
    width: 50px;
    height: 50px;
    display: inline-block;

    margin: 0px 0px 2px 0px;
}

#emoji-box-container {
    width: 30%;
    height: 40%;
    position: fixed;
    z-index: 99999;

    padding: 8px;
    border-radius: 8px;

    overflow-y: auto;
    overflow-x: hidden;
}

#emoji-box-container h2 {
    margin-top: 0;
    font-size: 18px;
}

#emoji-box-container .emoji-entry {
    float: left;
    display: block;
}

.emoji-entry img.emoji:hover {
    cursor: pointer;
    border-radius: 10%;
    transition: all 200ms;
}

.emoji-entry img.emoji:not(:hover) {
    border-radius: 0;
    transition: all 200ms;
}

#emoji-box-container .emoji-entry .emoji-img img {
    float: left;
    width: 35px;
    height: 35px;
    display: block;
    margin: 4px;
}

.rainbow-border {
    --angle: 0deg;
    border: 1px solid;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 10s rotate linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

#emoji-box-header-container {
    margin: -8px;
    margin-bottom: 8px;

    display: block;
    float: left;

    width: calc(100% + 2.3%);
    /* height: 12%; */

    padding: 4px;
    padding-left: 8px;
    padding-bottom: 10px;
    padding-top: 10px;

    overflow: hidden;
}

#emoji-entry-container {
    display: block;
    float: left;
    background-color: transparent;

    width: calc(100% - 0%);
    height: calc(100% - 18% - 0%);

    overflow-y: auto;
}

.emoji-box-header h2 {
    margin: 0;
}

.emoji-box-header {
    display: block;
    float: left;

    padding: 6px 12px 6px 12px;
    margin-right: 8px;
}

.emoji-box-header:hover {
    cursor: pointer;
    border-radius: 8px;
}

.SelectedTab {
    border-radius: 8px;
}

label.mention {
    /*background-color: rgba(255, 174, 0, 0.12);*/
    color: skyblue;

    padding: 2px 4px 2px 4px !important;
    margin: 0px 2px 0px 0px;

    border-radius: 4px;
    /*width: calc(100% - 16px) !important;*/

    display: inline-block !important;

    cursor: pointer;
}

.group-entry-marker {

    float: left;
    display: none;
    position: relative;

    margin-top: 28%;
    margin-left: -8px;

    background-color: white;
    border-radius: 50%;

    width: 6px;
    height: 6px;


}

#gif-searchbar {

    width: 100%;
    float: left;
    margin-bottom: 6px;
    display: none;
}

#gif-searchbar-input {

    width: calc(100% - 2.9%);
    float: left;

    outline: none;
    background-color: #40444B;
    border: 1px solid #40444B;
    padding: 4px;

    color: white;

    border-radius: 4px;
}

.offline_pfp {
    filter: grayscale(100%);
}

@keyframes start-change-color {
    from {
        background-color: #ed7e07;
    }

    to {
        background-color: #ddb787;
    }
}

@keyframes stop-change-color {
    from {
        background-color: #ed7e07;
    }

    to {
        background-color: #ddb787;
    }
}

#profile-role-menu {
    position: fixed;
    z-index: 100000;
    width: calc(208px - 16px + 8px);
    height: 150px;

    padding: 8px;

    background-color: hsl(from var(--main) h s calc(l * 2.5));
    border: 2px solid hsl(from var(--main) h s calc(l * 4));
    color: hsl(from var(--main) h s calc(l * 10));


    border-radius: 6px;

    text-overflow: ellipsis;
    overflow-y: auto;
    display: none;
    /*display: none;*/
}

#role-menu-header,
#role-menu-search-input {
    display: inline-block;
    float: left;
}

#role-menu-header {
    width: 100%;
    float: left;
    position: sticky;
}

#role-menu-search-input {
    outline: none !important;
}

#role-menu-search-icon {
    margin-left: 8px;
}

#role-menu-search-icon {
    background-color: transparent;
    width: 22px;
    height: 22px;

    display: block;
    float: left;
}

#role-menu-list {
    height: 120px;
    width: 100%;

    margin-top: 8px;

    display: block;
    float: left;

    overflow-y: auto;
}

.role-menu-entry {
    padding: 10px 0 10px 0;
    border-radius: 4px;
}

.role-menu-entry:hover {
    background: hsl(from var(--main) h s calc(l * 3));;
}

#role-menu-search-input:hover,
.role-menu-entry:hover,
.role-menu-entry label:hover {
    cursor: pointer;
}

.role-menu-entry-roleName {
    -webkit-user-select: none;
    user-select: none;
}

#messagebox {
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    margin: auto;
}

.editor-container {
    display: flex;
    margin-bottom: 10px;
}

#typing-indicator {
    font-style: italic;
    font-size: 10px;
    width: 100%;
    overflow: hidden;
    color: transparent;
    user-select: none;
}

#typing-indicator-container {
    display: flex;
    margin-left: 20px;

    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}

#editMsgHint {
    color: lightskyblue;
    font-style: italic;
    text-decoration: underline;
    font-size: 14px;
    margin: 4px 8px 16px 16px;
}

#editMsgHint:hover {
    cursor: pointer;
}

.headerIcon {
    background-size: cover;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    float: right;
    cursor: pointer;
}

.headerIcon.donators{    
    background-image: url('/img/heart_white.webp');
}

.headerIcon.help{    
    background-image: url('/img/help.png');
}

li.info {
    font-size: 12px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    color: gray;
    font-style: italic;
    list-style: none;
    /* remove real bullet */
}

li.info .bullet {
    color: gray;
    font-size: 1.5em;
    line-height: 1;
}

li.info span.bullet::before {
    content: "•";
}


li.info:hover {
    background-color: transparent !important
}