:root {
    --gray-background: rgba(128, 128, 128, 0.05);
    --gray: rgba(128, 128, 128, 0.2);
    --gray-brighter: rgba(128, 128, 128, 0.4);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

.layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.layout .modal {
    display: flex;
    flex-direction: column;

    min-width: 900px;
    min-height: 50vh;

    box-shadow: 1px 1px 4rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    border: 2px solid rgba(0,0,0, 0.075);
}

.layout .modal .header {
    padding: 2rem 2rem;
}

.layout .modal .header h1{
    font-size: 20px;
    margin: 0 0 4px 0;
}
.layout .modal .header span {
    font-size: 14px;
    color: var(--gray-brighter);
}