html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    overflow: hidden;
}

*{
    box-sizing: border-box;

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
    font-family: 'consolas', sans-serif;
    overflow-anchor: none;
    border-radius: 0 !important;
}

.message-container a {
    color: chartreuse;
    font-style: italic;
}


/* Main Server Chat */
#header{
    border-bottom: 1px solid white;
}

#header,
#serverlist {
    background: black
}

#context-menu{
    background: black;
    border: 1px solid white;
    color: white !important;
}

#context-menu label.icon {
    display: none !important;
}

#context-menu .context-item-ok,
#context-menu .context-item-success,
#context-menu .context-item-error{
    color: white !important;
}

.audio-player{
    /* multi color gradient !!!!! */
    background: linear-gradient(90deg, hsl(from var(--main) h s calc(l * 2.25)), hsl(from var(--main) h s calc(l * 3)), hsl(from var(--main) h s calc(l * 2.75)) );
    border: 2px solid  hsl(from var(--main) h s calc(l * 1.9))
}

#serverbanner-image{
    border-bottom: 1px solid white;
}

#channelname-bar{
    border-bottom: 1px solid white;
}

#content-container,
#channelname-bar {
    background-color: black;
}
#channeltree ul.participants li:hover {
    background-color: black;
}
#channeltree ul.participants li:not(:hover) {
    background-color: transparent;
}

#channeltree ul li{
    margin: 0 !important;
    margin-left: -20px !important;
    color: lightgray !important;
}

#channeltree{
    margin-top: -20px !important;
}
#channeltree hr{
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: 12px;
}

#channellist, .categoryTrigger {
    background-color: black;
    color: white !important;
}

#channellist{
    border-right: 1px solid white;
    border-left: 1px solid white;
}

#profile-qa {
    border-top: 1px solid white;
    background-color: black;
}

#networkServers{
    background-color: black;
    border-right: 1px solid white;
}

#networkActivatorUi {
    background-color: black !important;
    left: 6px !important;
}

#infolist{
    background-color: black !important;
    border-left: 1px solid white;
}

.editor-container,
.ql-container,
.ql-editor{
    background-color: black;
    border: 1px solid gray;
}

.ql-toolbar{
    border: 1px solid gray;
    background-color:black;
}

.activeUserEntry{
    background-color: hsl(from var(--main) h s calc(l * 1.5));
}

#emoji-box-header-container, .emoji-box-header {
    background-color: hsl(from var(--main) h s calc(l * 2.5));
}

#emoji-box-container{
    background-color: hsl(from var(--main) h s calc(l * 2));
    border: 2px solid hsl(from var(--main) h s calc(l * 2));
    box-shadow: 4px 4px 14px 0.5px hsl(from var(--main) h s calc(l * 0.5));
}

.emoji-box-header:hover, .emoji-box-header.SelectedTab{
    background-color: hsl(from var(--main) h s calc(l * 2));
}

/* Server Home Page */
#ticketIdentity option,
.panel,
.homeCard,
.modalCard,
.searchCard {
    background-color: hsl(from var(--main) h s calc(l * 1.7));
}

.statusDot{
    border: 2px solid hsl(from var(--main) h s calc(l * 1.7));
}

#ticketIdentity option {
    border: 2px solid  hsl(from var(--main) h s calc(l * 1.7));
}

body{
    background: linear-gradient(180deg, hsl(from var(--main) h s calc(l * 0.8)), hsl(from var(--main) h s calc(l * 1.4)));
}

.appHeader{
    background-color: hsl(from var(--main) h s calc(l * 1.7));
}

.hero{
    background: hsl(from var(--main) h s calc(l * 1.7)) center/cover no-repeat;
}

blockquote {
    border-left: 3px solid hsl(from var(--main) h s calc(l * 9));
    color: hsl(from var(--main) h s calc(l * 9));
    background-color: hsla(from var(--main) h s calc(l * 6) / 10%);
}

.video-embed {
    /*
        Man i love css sometimes. the following two lines are just
        so amazing to me. works perfectly
     */
    width: 100%;
    max-width: 500px;
    outline: none;
}

.homeDivider{
    border: 1px solid hsl(from var(--main) h s calc(l * 5) / 50%);
}

p.note{
    font-size: 12px;
    color: hsl(from var(--main) h s calc(l * 10));
    font-style: italic;
}

/* msg replies */
.message-container .row.reply .box{
    border-left: 2px solid  hsl(from var(--main) h s calc(l * 8));
    border-top: 2px solid  hsl(from var(--main) h s calc(l * 8));
}

.message-container .row.reply .content:hover{
    background-color: transparent;
}

.message-container .row.reply .content{
    color: hsl(from var(--main) h s calc(l * 10));
}

.message-container .content.highlight{
    background-color: hsl(from var(--main) h s calc(l * 3))
}

.message-container .content.mention{
    background-color: #1c1c1c !important;
}

.message-container label.mention{
    color: chartreuse;
}

.message-container .icon-container,
.memberlist-img {
    display: none;
}

img,
video{
    filter: grayscale(100%) !important;
}

#popup-container img{
    filter:grayscale(0%) !important;
}

#profile-qa-img-container,
#profile_container #profile_pfp_container,
#profile_container #profile_banner,
#profile_container #profile_icon{
    display: none;
}

#profile_container{
    background-color: black;
}

#emoji-box-container{
    background-color: black;
    border: 1px solid white;
}

#emoji-box-header-container{
    background-color: black;
    border-bottom: 1px solid white;
}