#change this to your domain for where livekit is going to live
{$LIVEKIT_URL} {
    #For setting your own cert
    tls /etc/caddy/certs/cert.pem /etc/caddy/certs/key.pem

    encode gzip zstd

    reverse_proxy dcts-livekit:7880 {
        transport http {
            versions 1.1
        }
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }
}

#change this to your domain for the webui to live
{$APP_URL} {
    #For setting your own cert
    tls /etc/caddy/certs/cert.pem /etc/caddy/certs/key.pem

    encode gzip zstd

    reverse_proxy dcts-app:2052

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }
}
