.layout > .content-container > .content > .serverList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1rem;
}

.layout > .content-container > .content > .serverList > .server-card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 8px;
    overflow: hidden;
    width: calc(300px - 1rem);
}

.layout > .content-container > .content > .serverList > .server-card .banner{
    display: flex;
    align-items: center;

    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
    padding: 1rem;

    position: relative;

    object-fit: cover;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    height: calc(100px - 1rem);

    text-shadow: -1px 0 0 var(--main), 1px 0 0 var(--main),
    0 -1px 0 var(--main), 0 1px 0 var(--main),
    0 0 8px var(--main);
    z-index: 1;
}

.layout > .content-container > .content > .serverList > .server-card .banner:before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
            to right,
            rgba(0,0,0,0.75),
            transparent
    );
    pointer-events: none;
    z-index: -1;
}

.layout > .content-container > .content > .serverList > .server-card .about{
    font-size: 12px;
    max-height: 100px;
    overflow: auto;
    margin-bottom: 1rem;
}

.layout > .content-container > .content > .serverList > .server-card .banner .features{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    gap: 1rem;
    padding: 0.5rem 0.75rem;

    bottom: 0;
    right: 0;

    background: rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(8px);
    border-top-left-radius: 8px;
}

.layout > .content-container > .content > .serverList > .server-card .banner .features svg {
    width: 14px;
    height: 14px;
}

.layout > .content-container > .content > .serverList > .server-card .banner .features:before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: inherit;
    pointer-events: none;
    z-index: -1;
}

.layout > .content-container > .content > .serverList > .server-card .banner .features .feature{
    display: flex;
    margin: auto;
    cursor: help;
}

.layout > .content-container > .content > .serverList > .server-card .footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    align-items: center;
    align-content: end;
    justify-content: end;

    margin-top: auto;
    margin-bottom: 0;

    margin-left: -1rem;
    margin-right: -1rem;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;

    font-size: 12px;
    border-top: 1px solid var(--border-color-bright);
}

.layout > .content-container > .content > .serverList > .server-card .footer .buttons{
    font-size: 14px;
    display: flex;
    margin-left: auto;
    gap: 1rem;
}

.layout > .content-container > .content > .serverList > .server-card .footer .buttons .joinButton{
    background-color: hsl(from var(--main) h s calc(l * 6));
    color: white;
    padding: 4px 12px;
    border-radius: 2px;
    text-decoration: none;
}

.layout > .content-container > .content > .serverList > .server-card .footer .buttons .joinButton.delete{
    background-color: indianred;
}