*{
    box-sizing: border-box;
}

#navigation.home {
    display: flex;
    width: fit-content !important;
    min-width: 300px !important;
    gap: 2px;
    padding: 10px;
    max-height: 100%;
}

#navigation.home hr{
    display: flex;
    width: calc(100% + 20px);
    border: 0.5px solid var(--border-color);
    margin-left: -10px;
    margin-right: -10px;
}

#navigation.home .dms{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.layout{
    display: flex;
}

.layout .content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}


.layout .content .site-banner{
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 30vh;
    overflow: hidden;
    background-color: black;
}
.layout .content .site-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}

.layout .content .site-banner .content{
    position: absolute;
    display: flex;
    flex-direction: column;
}

.hint-label{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin: 8px 2px;
}