.profile_headline{
    text-transform: uppercase;
    margin: 0 0 8px 0;
    font-size: 14px;
    font-weight: bold;
}


#settings_profile_save {
    margin: 20px 0 0 0;
    padding: 2px 4px 2px 4px;

    border: 1px solid transparent;
    border-radius: 6px;

    background-color: #ABB8BE;
    color: black;
    text-align: center;
    width: 100%;
}

input[type=cehckbox]{
    float: left;
    display: inline-block;
}

input[type=text], input[type=password], input[type=number] {
    color: #ABB8BE;
    background-color: #292B2F;
    outline: none;
    padding: 4px 8px 4px 8px;

    margin: 4px 0 0 0;

    border-radius: 6px;
    border: 1px solid transparent;
    resize: none;
}

.profile_input_container {
    margin: 32px 0 32px 0 !important;
}